<div class="card">
  <%= link_to pokemon_path(@pokemon) do %>
    <%= image_tag "#{@pokemon.sprite_url}", class: "card-sprite" %>
    <div class="card-name">
      <%= @pokemon.name.capitalize %>
    </div>
  <% end %>
</div>