.card {
  height: 24vmin;
  width: 24vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 8px;
}
.card-sprite {
  height: 14vmin;
  width: 14vmin;
}

.card-name {
  font-size: 3vmin;
  text-align: center;
}

@media (max-width: 400px) {
  .card {
    height: 171px;
    width: 171px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px 8px;
  }
  .card-sprite {
    height: 140px;
    width: 140px;
  }
  
  .card-name {
    font-size: 24px;
  }
}