<div id="js-page-identifier" data-current-page="index"></div>

<div class="content">
  <% @pokemons.each do |pokemon| %>
    <% @pokemon = pokemon %>
    <%= render "partials/card" %>
  <% end %>
</div>
